<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>
<% if @genre.movies.empty? %>
	<p> We have no movies in this genre, check back later </p>
<% else %>
	<p> These are movies we have in this genre</p>
		<% @genre.movies.each do |m| %>
			<br>
			<%= m.title %>
			<%= image_tag(m.poster, :size => "200x300" )%></p>
			<br>
		<% end %>
	<br\><br\><br\>
<% end %>

	

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
