<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>
<p> These are movies we have in this genre</p>
	<% @genre.movies.each do |m| %>
		<br>
		<%= m.title %>
	<% end %>
	

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
